.typewriter {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3.5s linear 1.2s infinite alternate; 
}

@keyframes typing {
    0% { width: 0; }
    50% { width: 12ch; } 
    100% { width: 0; }
}

.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 1.2s ease-out forwards;
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight 1.2s ease-out forwards;
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
