body{
    margin: auto;

}

h1{
    font-size: 30px;
    color: White;
    padding-top: 10px;
    margin-left: 10px; 
}

header{
    margin-top: -20px;
    padding-bottom: 20px;
    background-color:gray;
}

nav{
    text-align: center;
    margin-top: -45px;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 150px;
    font-size: 17px;
}

a:hover{
    color: black;
    transition: 1s;
}

.intro{
    
}